# Dependencies
/node_modules
/dist

# Local environment variables
# Local-only env files should be ignored for security reasons
.env*.local

# VS Code directory preferences
.vscode

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS and editor files (optional, but often helpful)
.DS_Store
*.seed
*.stackdump
# more OS and editor specific files can be added here
